<!DOCTYPE html>
<html lang="en">

<head>
  <title> 404-Page </title>
  <meta charset="UTF-8">
  <link href="../css/404-Page.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Albert Sans" rel="stylesheet">
</head>

<body>
  <script src="../js/404-Page.js"> </script>
  <section>
    <article>
      <div id="textLeft">
        <em> <h2> Uh oh! </h2> </em>
        <p> We knocked over our ink and couldn't find the page you were looking for. 
          We're sorry about that. Maybe these buttons could help? </p>
        <p> Want to head back home? </p>
        <button type="button" onclick=""> Homepage </button>
        <p> Want to reach out to us? </p>
        <button type="button" onclick=""> Contact Us </button>
      </div>
    </article>

    <article id="rightSide">
        <div id="loginBox" class="container">
          <center> <h2 id="notFound"> Page Not Found </h2> </center>
          <center> <img src="../img/spilled-ink.png"
            width="500"
            length="202"> </center>
        </div>
    </article>
  </section>

  <div>
    <center> <h2 id="factText"> Bored? Here's a fun fact! </h2></center>
    <center> <p id="factDisplay"> The earth’s circumference is 24,900 miles. </p> </center>
    <center> <button id="factButton" type="button" onclick="generateFact()"> Give me another fun fact! </button> </center>
  </div>
</body>

<footer>
</footer>

</html>